*.py text eol=lf
*.pyi text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
LICENSE text eol=lf
Makefile text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
